In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.max_columns = 30
pd.options.display.float_format = '{:.2f}'.format

In [4]:
import json
with open(r'D:\Udemy\DataScience_12_Projects\# 2\Project_02_Materials\blockbusters.json') as f:
    data = json.load(f)
data

[{'title': 'Avengers: Endgame',
  'id': 299534,
  'revenue': 2797800564,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 181},
 {'title': 'Avatar',
  'id': 19995,
  'revenue': 2787965087,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 87096,
   'name': 'Avatar Collection',
   'poster_path': '/nslJVsO58Etqkk17oXMuVK4gNOF.jpg',
   'backdrop_path': '/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg'},
  'runtime': 162},
 {'title': 'Star Wars: The Force Awakens',
  'id': 140607,
  'revenue': 2068223624,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 14, 'name': 'Fantasy'}],
  'belongs_to_collection': {'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
   'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
  'runtime': 136},
 {'title': 'Avengers: Infinity War',
  'id': 299536,
  'revenue': 2046239637,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 28, 'name': 'Action'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 149},
 {'title': 'Titanic',
  'id': 597,
  'revenue': 1845034188,
  'genres': [{'id': 18, 'name': 'Drama'},
   {'id': 10749, 'name': 'Romance'},
   {'id': 53, 'name': 'Thriller'}],
  'belongs_to_collection': None,
  'runtime': 194},
 {'title': 'Jurassic World',
  'id': 135397,
  'revenue': 1671713208,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 53, 'name': 'Thriller'}],
  'belongs_to_collection': {'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
   'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'},
  'runtime': 124},
 {'title': 'The Lion King',
  'id': 420818,
  'revenue': 1656943394,
  'genres': [{'id': 12, 'name': 'Adventure'}, {'id': 10751, 'name': 'Family'}],
  'belongs_to_collection': None,
  'runtime': 118},
 {'title': 'The Avengers',
  'id': 24428,
  'revenue': 1519557910,
  'genres': [{'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 143},
 {'title': 'Furious 7',
  'id': 168259,
  'revenue': 1506249360,
  'genres': [{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}],
  'belongs_to_collection': {'id': 9485,
   'name': 'The Fast and the Furious Collection',
   'poster_path': '/uv63yAGg1zETAs1XQsOQpava87l.jpg',
   'backdrop_path': '/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg'},
  'runtime': 137},
 {'title': 'Avengers: Age of Ultron',
  'id': 99861,
  'revenue': 1405403694,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 141},
 {'title': 'Black Panther',
  'id': 284054,
  'revenue': 1346739107,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 529892,
   'name': 'Black Panther Collection',
   'poster_path': '/9ZSPIsxI3TZDgfg0Jzk0RZl4INg.jpg',
   'backdrop_path': '/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg'},
  'runtime': 134},
 {'title': 'Harry Potter and the Deathly Hallows: Part 2',
  'id': 12445,
  'revenue': 1341511219,
  'genres': [{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'name': 'Adventure'}],
  'belongs_to_collection': {'id': 1241,
   'name': 'Harry Potter Collection',
   'poster_path': '/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg',
   'backdrop_path': '/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg'},
  'runtime': 130},
 {'title': 'Star Wars: The Last Jedi',
  'id': 181808,
  'revenue': 1332539889,
  'genres': [{'id': 14, 'name': 'Fantasy'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'}],
  'belongs_to_collection': {'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
   'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
  'runtime': 152},
 {'title': 'Frozen II',
  'id': 330457,
  'revenue': 1330764959,
  'genres': [{'id': 16, 'name': 'Animation'},
   {'id': 10751, 'name': 'Family'},
   {'id': 12, 'name': 'Adventure'}],
  'belongs_to_collection': {'id': 386382,
   'name': 'Frozen Collection',
   'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg',
   'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg'},
  'runtime': 104},
 {'title': 'Jurassic World: Fallen Kingdom',
  'id': 351286,
  'revenue': 1303459585,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
   'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'},
  'runtime': 129},
 {'title': 'Frozen',
  'id': 109445,
  'revenue': 1274219009,
  'genres': [{'id': 16, 'name': 'Animation'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 10751, 'name': 'Family'}],
  'belongs_to_collection': {'id': 386382,
   'name': 'Frozen Collection',
   'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg',
   'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg'},
  'runtime': 102},
 {'title': 'Beauty and the Beast',
  'id': 321612,
  'revenue': 1263521126,
  'genres': [{'id': 10751, 'name': 'Family'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 10749, 'name': 'Romance'}],
  'belongs_to_collection': None,
  'runtime': 129},
 {'title': 'Incredibles 2',
  'id': 260513,
  'revenue': 1241891456,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 16, 'name': 'Animation'},
   {'id': 10751, 'name': 'Family'}],
  'belongs_to_collection': {'id': 468222,
   'name': 'The Incredibles Collection',
   'poster_path': '/l7GqbzkJwowYRIXAtUz2iCPi64a.jpg',
   'backdrop_path': '/9eDW2dVhnzPS2HvaRdK2OlAGaLq.jpg'},
  'runtime': 118}]

In [5]:
type(data)

list

In [6]:
len(data)

18

In [7]:
data[0]

{'title': 'Avengers: Endgame',
 'id': 299534,
 'revenue': 2797800564,
 'genres': [{'id': 12, 'name': 'Adventure'},
  {'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'}],
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'runtime': 181}

In [8]:
df = pd.DataFrame(data)
df

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",None,118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [9]:
# Direct way to open json data
file = r'D:\Udemy\DataScience_12_Projects\# 2\Project_02_Materials\blockbusters.json'
df = pd.read_json(file)
df

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",None,118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title                  18 non-null     object
 1   id                     18 non-null     int64
 2   revenue                18 non-null     int64
 3   genres                 18 non-null     object
 4   belongs_to_collection  15 non-null     object
 5   runtime                18 non-null     int64
dtypes: int64(3), object(3)
memory usage: 992.0+ bytes

In [11]:
df.genres[0]

[{'id': 12, 'name': 'Adventure'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 28, 'name': 'Action'}]

In [12]:
df.belongs_to_collection[0]

{'id': 86311,
 'name': 'The Avengers Collection',
 'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
 'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'}

In [15]:
pd.json_normalize(data = data, sep = '_')

,title,id,revenue,genres,runtime,belongs_to_collection_id,belongs_to_collection_name,belongs_to_collection_poster_path,belongs_to_collection_backdrop_path,belongs_to_collection
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",181,86311.00,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,nan
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",162,87096.00,Avatar Collection,/nslJVsO58Etqkk17oXMuVK4gNOF.jpg,/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg,nan
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",136,10.00,Star Wars Collection,/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,nan
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",149,86311.00,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,nan
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",194,nan,NaN,NaN,NaN,nan
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",124,328.00,Jurassic Park Collection,/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg,/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg,nan
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",118,nan,NaN,NaN,NaN,nan
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",143,86311.00,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,nan
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",137,9485.00,The Fast and the Furious Collection,/uv63yAGg1zETAs1XQsOQpava87l.jpg,/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg,nan
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141,86311.00,The Avengers Collection,/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,nan
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",134,529892.00,Black Panther Collection,/9ZSPIsxI3TZDgfg0Jzk0RZl4INg.jpg,/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg,nan
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",130,1241.00,Harry Potter Collection,/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg,/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg,nan
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",152,10.00,Star Wars Collection,/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,nan
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",104,386382.00,Frozen Collection,/rpoXnE9UzCbjmINhxIi8bZF557B.jpg,/vZiqhw6oFoMlHSneIdVip9rRou2.jpg,nan
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",129,328.00,Jurassic Park Collection,/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg,/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg,nan
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",102,386382.00,Frozen Collection,/rpoXnE9UzCbjmINhxIi8bZF557B.jpg,/vZiqhw6oFoMlHSneIdVip9rRou2.jpg,nan
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",129,nan,NaN,NaN,NaN,nan
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",118,468222.00,The Incredibles Collection,/l7GqbzkJwowYRIXAtUz2iCPi64a.jpg,/9eDW2dVhnzPS2HvaRdK2OlAGaLq.jpg,nan

In [17]:
pd.json_normalize(data = data, sep = '_').genres[0]

[{'id': 12, 'name': 'Adventure'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 28, 'name': 'Action'}]

In [18]:
pd.json_normalize(data = data, record_path = 'genres')
# here we can access the data inside genre as a df but cannot differentiate the given data for the respective
# movies, for that we need the metadata

       id             name
0      12        Adventure
1     878  Science Fiction
2      28           Action
3      28           Action
4      12        Adventure
5      14          Fantasy
6     878  Science Fiction
7      28           Action
8      12        Adventure
9     878  Science Fiction
10     14          Fantasy
11     12        Adventure
12     28           Action
13    878  Science Fiction
14     18            Drama
15  10749          Romance
16     53         Thriller
17     28           Action
18     12        Adventure
19    878  Science Fiction
20     53         Thriller
21     12        Adventure
22  10751           Family
23    878  Science Fiction
24     28           Action
25     12        Adventure
26     28           Action
27     53         Thriller
28     28           Action
29     12        Adventure
30    878  Science Fiction
31     28           Action
32     12        Adventure
33     14          Fantasy
34    878  Science Fiction
35     14          Fantasy
36     12        Adventure
37     14          Fantasy
38     12        Adventure
39    878  Science Fiction
40     28           Action
41     16        Animation
42  10751           Family
43     12        Adventure
44     28           Action
45     12        Adventure
46    878  Science Fiction
47     16        Animation
48     12        Adventure
49  10751           Family
50  10751           Family
51     14          Fantasy
52  10749          Romance
53     28           Action
54     12        Adventure
55     16        Animation
56  10751           Family

In [19]:
pd.json_normalize(data = data, record_path = 'genres', meta = ['title'])

       id             name                                         title
0      12        Adventure                             Avengers: Endgame
1     878  Science Fiction                             Avengers: Endgame
2      28           Action                             Avengers: Endgame
3      28           Action                                        Avatar
4      12        Adventure                                        Avatar
5      14          Fantasy                                        Avatar
6     878  Science Fiction                                        Avatar
7      28           Action                  Star Wars: The Force Awakens
8      12        Adventure                  Star Wars: The Force Awakens
9     878  Science Fiction                  Star Wars: The Force Awakens
10     14          Fantasy                  Star Wars: The Force Awakens
11     12        Adventure                        Avengers: Infinity War
12     28           Action                        Avengers: Infinity War
13    878  Science Fiction                        Avengers: Infinity War
14     18            Drama                                       Titanic
15  10749          Romance                                       Titanic
16     53         Thriller                                       Titanic
17     28           Action                                Jurassic World
18     12        Adventure                                Jurassic World
19    878  Science Fiction                                Jurassic World
20     53         Thriller                                Jurassic World
21     12        Adventure                                 The Lion King
22  10751           Family                                 The Lion King
23    878  Science Fiction                                  The Avengers
24     28           Action                                  The Avengers
25     12        Adventure                                  The Avengers
26     28           Action                                     Furious 7
27     53         Thriller                                     Furious 7
28     28           Action                       Avengers: Age of Ultron
29     12        Adventure                       Avengers: Age of Ultron
30    878  Science Fiction                       Avengers: Age of Ultron
31     28           Action                                 Black Panther
32     12        Adventure                                 Black Panther
33     14          Fantasy                                 Black Panther
34    878  Science Fiction                                 Black Panther
35     14          Fantasy  Harry Potter and the Deathly Hallows: Part 2
36     12        Adventure  Harry Potter and the Deathly Hallows: Part 2
37     14          Fantasy                      Star Wars: The Last Jedi
38     12        Adventure                      Star Wars: The Last Jedi
39    878  Science Fiction                      Star Wars: The Last Jedi
40     28           Action                      Star Wars: The Last Jedi
41     16        Animation                                     Frozen II
42  10751           Family                                     Frozen II
43     12        Adventure                                     Frozen II
44     28           Action                Jurassic World: Fallen Kingdom
45     12        Adventure                Jurassic World: Fallen Kingdom
46    878  Science Fiction                Jurassic World: Fallen Kingdom
47     16        Animation                                        Frozen
48     12        Adventure                                        Frozen
49  10751           Family                                        Frozen
50  10751           Family                          Beauty and the Beast
51     14          Fantasy                          Beauty and the Beast
52  10749          Romance                          Beauty and the Beast
53     28           Action                                 Incredibles 2
54     12        Adventure                                 Incredibles 2
55     16        Animation                                 Incredibles 2
56  10751           Family                                 Incredibles 2

In [20]:
pd.json_normalize(data = data, record_path = 'genres', meta = ['title', 'id'], record_prefix = 'genre_')
# since we have 2 ids, one in the original df and another in the genre column we add a 'record_prefix' for distiguishing.

,genre_id,genre_name,title,id
0,12,Adventure,Avengers: Endgame,299534
1,878,Science Fiction,Avengers: Endgame,299534
2,28,Action,Avengers: Endgame,299534
3,28,Action,Avatar,19995
4,12,Adventure,Avatar,19995
5,14,Fantasy,Avatar,19995
6,878,Science Fiction,Avatar,19995
7,28,Action,Star Wars: The Force Awakens,140607
8,12,Adventure,Star Wars: The Force Awakens,140607
9,878,Science Fiction,Star Wars: The Force Awakens,140607
10,14,Fantasy,Star Wars: The Force Awakens,140607
11,12,Adventure,Avengers: Infinity War,299536
12,28,Action,Avengers: Infinity War,299536
13,878,Science Fiction,Avengers: Infinity War,299536
14,18,Drama,Titanic,597
15,10749,Romance,Titanic,597
16,53,Thriller,Titanic,597
17,28,Action,Jurassic World,135397
18,12,Adventure,Jurassic World,135397
19,878,Science Fiction,Jurassic World,135397
20,53,Thriller,Jurassic World,135397
21,12,Adventure,The Lion King,420818
22,10751,Family,The Lion King,420818
23,878,Science Fiction,The Avengers,24428
24,28,Action,The Avengers,24428
25,12,Adventure,The Avengers,24428
26,28,Action,Furious 7,168259
27,53,Thriller,Furious 7,168259
28,28,Action,Avengers: Age of Ultron,99861
29,12,Adventure,Avengers: Age of Ultron,99861
30,878,Science Fiction,Avengers: Age of Ultron,99861
31,28,Action,Black Panther,284054
32,12,Adventure,Black Panther,284054
33,14,Fantasy,Black Panther,284054
34,878,Science Fiction,Black Panther,284054
35,14,Fantasy,Harry Potter and the Deathly Hallows: Part 2,12445
36,12,Adventure,Harry Potter and the Deathly Hallows: Part 2,12445
37,14,Fantasy,Star Wars: The Last Jedi,181808
38,12,Adventure,Star Wars: The Last Jedi,181808
39,878,Science Fiction,Star Wars: The Last Jedi,181808
40,28,Action,Star Wars: The Last Jedi,181808
41,16,Animation,Frozen II,330457
42,10751,Family,Frozen II,330457
43,12,Adventure,Frozen II,330457
44,28,Action,Jurassic World: Fallen Kingdom,351286
45,12,Adventure,Jurassic World: Fallen Kingdom,351286
46,878,Science Fiction,Jurassic World: Fallen Kingdom,351286
47,16,Animation,Frozen,109445
48,12,Adventure,Frozen,109445
49,10751,Family,Frozen,109445
50,10751,Family,Beauty and the Beast,321612
51,14,Fantasy,Beauty and the Beast,321612
52,10749,Romance,Beauty and the Beast,321612
53,28,Action,Incredibles 2,260513
54,12,Adventure,Incredibles 2,260513
55,16,Animation,Incredibles 2,260513
56,10751,Family,Incredibles 2,260513

### Orientations of JSONs: Records, columns, split. Above we saw record.
record: List of dicts. Each dict in the list represent an observation (movie here)

columns: Dict of dicts. Each dict in the dict represent a single feature for all observations

split: Dict with 3 lists. Each list as value for index, columns and data

### There are pros and cons of each orientation

split: takes less memory but is error prone;
records: takes more memory but is better compatible with pandas

In [21]:
# Let us try the other 2 orientations now
with open(r'D:\Udemy\DataScience_12_Projects\# 2\Project_02_Materials\blockbusters2.json') as f:
    data2 = json.load(f)
data2

{'title': {'0': 'Avengers: Endgame',
  '1': 'Avatar',
  '2': 'Star Wars: The Force Awakens',
  '3': 'Avengers: Infinity War',
  '4': 'Titanic',
  '5': 'Jurassic World',
  '6': 'The Lion King',
  '7': 'The Avengers',
  '8': 'Furious 7',
  '9': 'Avengers: Age of Ultron',
  '10': 'Black Panther',
  '11': 'Harry Potter and the Deathly Hallows: Part 2',
  '12': 'Star Wars: The Last Jedi',
  '13': 'Frozen II',
  '14': 'Jurassic World: Fallen Kingdom',
  '15': 'Frozen',
  '16': 'Beauty and the Beast',
  '17': 'Incredibles 2'},
 'id': {'0': 299534,
  '1': 19995,
  '2': 140607,
  '3': 299536,
  '4': 597,
  '5': 135397,
  '6': 420818,
  '7': 24428,
  '8': 168259,
  '9': 99861,
  '10': 284054,
  '11': 12445,
  '12': 181808,
  '13': 330457,
  '14': 351286,
  '15': 109445,
  '16': 321612,
  '17': 260513},
 'revenue': {'0': 2797800564,
  '1': 2787965087,
  '2': 2068223624,
  '3': 2046239637,
  '4': 1845034188,
  '5': 1671713208,
  '6': 1656943394,
  '7': 1519557910,
  '8': 1506249360,
  '9': 1405403694,
  '10': 1346739107,
  '11': 1341511219,
  '12': 1332539889,
  '13': 1330764959,
  '14': 1303459585,
  '15': 1274219009,
  '16': 1263521126,
  '17': 1241891456},
 'genres': {'0': [{'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'}],
  '1': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  '2': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 14, 'name': 'Fantasy'}],
  '3': [{'id': 12, 'name': 'Adventure'},
   {'id': 28, 'name': 'Action'},
   {'id': 878, 'name': 'Science Fiction'}],
  '4': [{'id': 18, 'name': 'Drama'},
   {'id': 10749, 'name': 'Romance'},
   {'id': 53, 'name': 'Thriller'}],
  '5': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 53, 'name': 'Thriller'}],
  '6': [{'id': 12, 'name': 'Adventure'}, {'id': 10751, 'name': 'Family'}],
  '7': [{'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'}],
  '8': [{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}],
  '9': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  '10': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  '11': [{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'name': 'Adventure'}],
  '12': [{'id': 14, 'name': 'Fantasy'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'}],
  '13': [{'id': 16, 'name': 'Animation'},
   {'id': 10751, 'name': 'Family'},
   {'id': 12, 'name': 'Adventure'}],
  '14': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  '15': [{'id': 16, 'name': 'Animation'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 10751, 'name': 'Family'}],
  '16': [{'id': 10751, 'name': 'Family'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 10749, 'name': 'Romance'}],
  '17': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 16, 'name': 'Animation'},
   {'id': 10751, 'name': 'Family'}]},
 'belongs_to_collection': {'0': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  '1': {'id': 87096,
   'name': 'Avatar Collection',
   'poster_path': '/nslJVsO58Etqkk17oXMuVK4gNOF.jpg',
   'backdrop_path': '/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg'},
  '2': {'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
   'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
  '3': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  '4': None,
  '5': {'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
   'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'},
  '6': None,
  '7': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  '8': {'id': 9485,
   'name': 'The Fast and the Furious Collection',
   'poster_path': '/uv63yAGg1zETAs1XQsOQpava87l.jpg',
   'backdrop_path': '/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg'},
  '9': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  '10': {'id': 529892,
   'name': 'Black Panther Collection',
   'poster_path': '/9ZSPIsxI3TZDgfg0Jzk0RZl4INg.jpg',
   'backdrop_path': '/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg'},
  '11': {'id': 1241,
   'name': 'Harry Potter Collection',
   'poster_path': '/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg',
   'backdrop_path': '/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg'},
  '12': {'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
   'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
  '13': {'id': 386382,
   'name': 'Frozen Collection',
   'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg',
   'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg'},
  '14': {'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
   'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'},
  '15': {'id': 386382,
   'name': 'Frozen Collection',
   'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg',
   'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg'},
  '16': None,
  '17': {'id': 468222,
   'name': 'The Incredibles Collection',
   'poster_path': '/l7GqbzkJwowYRIXAtUz2iCPi64a.jpg',
   'backdrop_path': '/9eDW2dVhnzPS2HvaRdK2OlAGaLq.jpg'}},
 'runtime': {'0': 181,
  '1': 162,
  '2': 136,
  '3': 149,
  '4': 194,
  '5': 124,
  '6': 118,
  '7': 143,
  '8': 137,
  '9': 141,
  '10': 134,
  '11': 130,
  '12': 152,
  '13': 104,
  '14': 129,
  '15': 102,
  '16': 129,
  '17': 118}}

In [24]:
type(data2)

dict

In [25]:
len(data2)

6

In [29]:
df2 = pd.DataFrame(data2)
df2

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",None,118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [30]:
file = r'D:\Udemy\DataScience_12_Projects\# 2\Project_02_Materials\blockbusters2.json'
df2 = pd.read_json(file)
df2

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",None,118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [31]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 0 to 17
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title                  18 non-null     object
 1   id                     18 non-null     int64
 2   revenue                18 non-null     int64
 3   genres                 18 non-null     object
 4   belongs_to_collection  15 non-null     object
 5   runtime                18 non-null     int64
dtypes: int64(3), object(3)
memory usage: 1008.0+ bytes

In [ ]:
# We cannot use json_normalize on columns orientation (since we get an extremely nested df and not a flat structure)

In [36]:
# 3rd orientations (split)
with open(r'D:\Udemy\DataScience_12_Projects\# 2\Project_02_Materials\blockbusters3.json') as f:
    data3 = json.load(f)
data3

{'columns': ['title',
  'id',
  'revenue',
  'genres',
  'belongs_to_collection',
  'runtime'],
 'index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17],
 'data': [['Avengers: Endgame',
   299534,
   2797800564,
   [{'id': 12, 'name': 'Adventure'},
    {'id': 878, 'name': 'Science Fiction'},
    {'id': 28, 'name': 'Action'}],
   {'id': 86311,
    'name': 'The Avengers Collection',
    'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
    'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
   181],
  ['Avatar',
   19995,
   2787965087,
   [{'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 14, 'name': 'Fantasy'},
    {'id': 878, 'name': 'Science Fiction'}],
   {'id': 87096,
    'name': 'Avatar Collection',
    'poster_path': '/nslJVsO58Etqkk17oXMuVK4gNOF.jpg',
    'backdrop_path': '/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg'},
   162],
  ['Star Wars: The Force Awakens',
   140607,
   2068223624,
   [{'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 878, 'name': 'Science Fiction'},
    {'id': 14, 'name': 'Fantasy'}],
   {'id': 10,
    'name': 'Star Wars Collection',
    'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
    'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
   136],
  ['Avengers: Infinity War',
   299536,
   2046239637,
   [{'id': 12, 'name': 'Adventure'},
    {'id': 28, 'name': 'Action'},
    {'id': 878, 'name': 'Science Fiction'}],
   {'id': 86311,
    'name': 'The Avengers Collection',
    'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
    'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
   149],
  ['Titanic',
   597,
   1845034188,
   [{'id': 18, 'name': 'Drama'},
    {'id': 10749, 'name': 'Romance'},
    {'id': 53, 'name': 'Thriller'}],
   None,
   194],
  ['Jurassic World',
   135397,
   1671713208,
   [{'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 878, 'name': 'Science Fiction'},
    {'id': 53, 'name': 'Thriller'}],
   {'id': 328,
    'name': 'Jurassic Park Collection',
    'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
    'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'},
   124],
  ['The Lion King',
   420818,
   1656943394,
   [{'id': 12, 'name': 'Adventure'}, {'id': 10751, 'name': 'Family'}],
   None,
   118],
  ['The Avengers',
   24428,
   1519557910,
   [{'id': 878, 'name': 'Science Fiction'},
    {'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'}],
   {'id': 86311,
    'name': 'The Avengers Collection',
    'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
    'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
   143],
  ['Furious 7',
   168259,
   1506249360,
   [{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}],
   {'id': 9485,
    'name': 'The Fast and the Furious Collection',
    'poster_path': '/uv63yAGg1zETAs1XQsOQpava87l.jpg',
    'backdrop_path': '/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg'},
   137],
  ['Avengers: Age of Ultron',
   99861,
   1405403694,
   [{'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 878, 'name': 'Science Fiction'}],
   {'id': 86311,
    'name': 'The Avengers Collection',
    'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
    'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
   141],
  ['Black Panther',
   284054,
   1346739107,
   [{'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 14, 'name': 'Fantasy'},
    {'id': 878, 'name': 'Science Fiction'}],
   {'id': 529892,
    'name': 'Black Panther Collection',
    'poster_path': '/9ZSPIsxI3TZDgfg0Jzk0RZl4INg.jpg',
    'backdrop_path': '/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg'},
   134],
  ['Harry Potter and the Deathly Hallows: Part 2',
   12445,
   1341511219,
   [{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'name': 'Adventure'}],
   {'id': 1241,
    'name': 'Harry Potter Collection',
    'poster_path': '/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg',
    'backdrop_path': '/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg'},
   130],
  ['Star Wars: The Last Jedi',
   181808,
   1332539889,
   [{'id': 14, 'name': 'Fantasy'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 878, 'name': 'Science Fiction'},
    {'id': 28, 'name': 'Action'}],
   {'id': 10,
    'name': 'Star Wars Collection',
    'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
    'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
   152],
  ['Frozen II',
   330457,
   1330764959,
   [{'id': 16, 'name': 'Animation'},
    {'id': 10751, 'name': 'Family'},
    {'id': 12, 'name': 'Adventure'}],
   {'id': 386382,
    'name': 'Frozen Collection',
    'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg',
    'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg'},
   104],
  ['Jurassic World: Fallen Kingdom',
   351286,
   1303459585,
   [{'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 878, 'name': 'Science Fiction'}],
   {'id': 328,
    'name': 'Jurassic Park Collection',
    'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
    'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'},
   129],
  ['Frozen',
   109445,
   1274219009,
   [{'id': 16, 'name': 'Animation'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 10751, 'name': 'Family'}],
   {'id': 386382,
    'name': 'Frozen Collection',
    'poster_path': '/rpoXnE9UzCbjmINhxIi8bZF557B.jpg',
    'backdrop_path': '/vZiqhw6oFoMlHSneIdVip9rRou2.jpg'},
   102],
  ['Beauty and the Beast',
   321612,
   1263521126,
   [{'id': 10751, 'name': 'Family'},
    {'id': 14, 'name': 'Fantasy'},
    {'id': 10749, 'name': 'Romance'}],
   None,
   129],
  ['Incredibles 2',
   260513,
   1241891456,
   [{'id': 28, 'name': 'Action'},
    {'id': 12, 'name': 'Adventure'},
    {'id': 16, 'name': 'Animation'},
    {'id': 10751, 'name': 'Family'}],
   {'id': 468222,
    'name': 'The Incredibles Collection',
    'poster_path': '/l7GqbzkJwowYRIXAtUz2iCPi64a.jpg',
    'backdrop_path': '/9eDW2dVhnzPS2HvaRdK2OlAGaLq.jpg'},
   118]]}

In [37]:
df3 = pd.DataFrame(data3)
df3 
# doesn't work

ValueError: arrays must all be same length

In [39]:
file = r'D:\Udemy\DataScience_12_Projects\# 2\Project_02_Materials\blockbusters3.json'
df3 = pd.read_json(file, orient = 'split')
df3

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
4,Titanic,597,1845034188,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",None,118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1506249360,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Frozen II,330457,1330764959,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1241891456,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [ ]:
# Hence unless we have memory restrictions we always prefer records orientation

## Importing Data from TMDB API, and working with JSONs

In [40]:
api_key = 'api_key=4dcd5129056a1c3194065254a53f9329'
import requests

In [41]:
movie_id = 140607

In [44]:
movie_api = 'https://api.themoviedb.org/3/movie/{}?'
movie_api

'https://api.themoviedb.org/3/movie/{}?'

In [45]:
# Our http request
url = movie_api.format(movie_id) + api_key
url
# Running this in the web browser gives us info about the respective movie (in JSON format)

'https://api.themoviedb.org/3/movie/140607?api_key=4dcd5129056a1c3194065254a53f9329'

In [46]:
# However this is manual and we need to automate this if we want to scale
# first we create a response object
r = requests.get(url)
r
# 200 response is for "authentication works, everything is alright, the movie exists!!

In [48]:
# json returns the json-encoded content of a response, if any.
data = r.json()
data

{'adult': False,
 'backdrop_path': '/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg',
 'belongs_to_collection': {'id': 10,
  'name': 'Star Wars Collection',
  'poster_path': '/r8Ph5MYXL04Qzu4QBbq2KjqwtkQ.jpg',
  'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
 'budget': 245000000,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'},
  {'id': 878, 'name': 'Science Fiction'},
  {'id': 14, 'name': 'Fantasy'}],
 'homepage': 'http://www.starwars.com/films/star-wars-episode-vii',
 'id': 140607,
 'imdb_id': 'tt2488496',
 'original_language': 'en',
 'original_title': 'Star Wars: The Force Awakens',
 'overview': 'Thirty years after defeating the Galactic Empire, Han Solo and his allies face a new threat from the evil Kylo Ren and his army of Stormtroopers.',
 'popularity': 39.557,
 'poster_path': '/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg',
 'production_companies': [{'id': 1634,
   'logo_path': None,
   'name': 'Truenorth Productions',
   'origin_country': 'IS'},
  {'id': 1,
   'logo_path': '/o86DbpburjxrqAzEDhXZcyE8pDb.png',
   'name': 'Lucasfilm Ltd.',
   'origin_country': 'US'},
  {'id': 11461,
   'logo_path': '/p9FoEt5shEKRWRKVIlvFaEmRnun.png',
   'name': 'Bad Robot',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2015-12-15',
 'revenue': 2068223624,
 'runtime': 136,
 'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'}],
 'status': 'Released',
 'tagline': 'Every generation has a story.',
 'title': 'Star Wars: The Force Awakens',
 'video': False,
 'vote_average': 7.4,
 'vote_count': 14634}

In [49]:
type(data)

dict

In [50]:
len(data)

25

In [51]:
pd.DataFrame(data)
# doesn't get converted to df

ValueError: arrays must all be same length

In [54]:
# so we convert to series first and then to df
df = pd.Series(data).to_frame().T
df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,39.56,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1634, 'logo_path': None, 'name': 'True...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.40,14634

In [55]:
# or we could have also used jsnn_normalize to flatten he data

pd.json_normalize(data, sep = '_')

,adult,backdrop_path,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,belongs_to_collection_id,belongs_to_collection_name,belongs_to_collection_poster_path,belongs_to_collection_backdrop_path
0,False,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,39.56,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1634, 'logo_path': None, 'name': 'True...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.40,14634,10,Star Wars Collection,/r8Ph5MYXL04Qzu4QBbq2KjqwtkQ.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg

In [57]:
# we have nested data in multiple columns, above
pd.json_normalize(data, record_path = 'genres', meta = 'title')

    id             name                         title
0   28           Action  Star Wars: The Force Awakens
1   12        Adventure  Star Wars: The Force Awakens
2  878  Science Fiction  Star Wars: The Force Awakens
3   14          Fantasy  Star Wars: The Force Awakens

In [58]:
pd.json_normalize(data, record_path = 'production_companies', meta = 'title')

,id,logo_path,name,origin_country,title
0,1634,None,Truenorth Productions,IS,Star Wars: The Force Awakens
1,1,/o86DbpburjxrqAzEDhXZcyE8pDb.png,Lucasfilm Ltd.,US,Star Wars: The Force Awakens
2,11461,/p9FoEt5shEKRWRKVIlvFaEmRnun.png,Bad Robot,US,Star Wars: The Force Awakens

In [59]:
# Above we used movies module to find a movie, now we use 'discover module' to find movies that meet certain condition(query)
discover_api = 'https://api.themoviedb.org/3/discover/movie?'

In [60]:
query = '&primary_release_date.gte=2020-01-01&primary_release_date.lte=2020-02-29'

In [61]:
url = discover_api+api_key+query

In [63]:
r = requests.get(url)
data = r.json()

In [64]:
data

{'page': 1,
 'total_results': 2827,
 'total_pages': 142,
 'results': [{'popularity': 85.265,
   'vote_count': 4889,
   'video': False,
   'poster_path': '/aQvJ5WPzZgYVDrxLX4R6cLJCEaQ.jpg',
   'id': 454626,
   'adult': False,
   'backdrop_path': '/stmYfCUGd8Iy6kAMBr6AmWqx8Bq.jpg',
   'original_language': 'en',
   'original_title': 'Sonic the Hedgehog',
   'genre_ids': [28, 35, 878, 10751],
   'title': 'Sonic the Hedgehog',
   'vote_average': 7.5,
   'overview': 'Based on the global blockbuster videogame franchise from Sega, Sonic the Hedgehog tells the story of the world’s speediest hedgehog as he embraces his new home on Earth. In this live-action adventure comedy, Sonic and his new best friend team up to defend the planet from the evil genius Dr. Robotnik and his plans for world domination.',
   'release_date': '2020-02-12'},
  {'popularity': 70.91,
   'vote_count': 4768,
   'video': False,
   'poster_path': '/h4VB6m0RwcicVEZvzftYZyKXs6K.jpg',
   'id': 495764,
   'adult': False,
   'backdrop_path': '/9xNOiv6DZZjH7ABoUUDP0ZynouU.jpg',
   'original_language': 'en',
   'original_title': 'Birds of Prey (and the Fantabulous Emancipation of One Harley Quinn)',
   'genre_ids': [28, 35, 80],
   'title': 'Birds of Prey (and the Fantabulous Emancipation of One Harley Quinn)',
   'vote_average': 7.2,
   'overview': 'Harley Quinn joins forces with a singer, an assassin and a police detective to help a young girl who had a hit placed on her after she stole a rare diamond from a crime lord.',
   'release_date': '2020-02-05'},
  {'popularity': 66.504,
   'vote_count': 2296,
   'video': False,
   'poster_path': '/5EufsDwXdY2CVttYOk2WtYhgKpa.jpg',
   'id': 570670,
   'adult': False,
   'backdrop_path': '/uZMZyvarQuXLRqf3xdpdMqzdtjb.jpg',
   'original_language': 'en',
   'original_title': 'The Invisible Man',
   'genre_ids': [27, 878, 53],
   'title': 'The Invisible Man',
   'vote_average': 7.2,
   'overview': "When Cecilia's abusive ex takes his own life and leaves her his fortune, she suspects his death was a hoax. As a series of coincidences turn lethal, Cecilia works to prove that she is being hunted by someone nobody can see.",
   'release_date': '2020-02-26'},
  {'popularity': 45.507,
   'vote_count': 2385,
   'video': False,
   'poster_path': '/f4aul3FyD3jv3v4bul1IrkWZvzq.jpg',
   'id': 508439,
   'adult': False,
   'backdrop_path': '/dW6yBuKwiMeronJZw8kozYLMorB.jpg',
   'original_language': 'en',
   'original_title': 'Onward',
   'genre_ids': [12, 16, 35, 14, 10751],
   'title': 'Onward',
   'vote_average': 7.9,
   'overview': 'In a suburban fantasy world, two teenage elf brothers embark on an extraordinary quest to discover if there is still a little magic left out there.',
   'release_date': '2020-02-29'},
  {'popularity': 44.255,
   'vote_count': 4506,
   'video': False,
   'poster_path': '/y95lQLnuNKdPAzw9F9Ab8kJ80c3.jpg',
   'id': 38700,
   'adult': False,
   'backdrop_path': '/upUy2QhMZEmtypPW3PdieKLAHxh.jpg',
   'original_language': 'en',
   'original_title': 'Bad Boys for Life',
   'genre_ids': [28, 80, 53],
   'title': 'Bad Boys for Life',
   'vote_average': 7.2,
   'overview': 'Marcus and Mike are forced to confront new threats, career changes, and midlife crises as they join the newly created elite team AMMO of the Miami police department to take down the ruthless Armando Armas, the vicious leader of a Miami drug cartel.',
   'release_date': '2020-01-15'},
  {'popularity': 36.807,
   'vote_count': 91,
   'video': False,
   'poster_path': '/fOvqEunubL3wPskvtk2Ficfl0pH.jpg',
   'id': 451184,
   'adult': False,
   'backdrop_path': '/72r4uAQGsa8KEv0DB2TpSu31lEB.jpg',
   'original_language': 'en',
   'original_title': 'Wasp Network',
   'genre_ids': [18, 36, 53],
   'title': 'Wasp Network',
   'vote_average': 6.3,
   'overview': 'Havana, Cuba, 1990. René González, an airplane pilot, unexpectedly flees the country, leaving behind his wife Olga and his daughter Irma, and begins a new life in Miami, where he becomes a member of an anti-Castro organization.',
   'release_date': '2020-01-29'},
  {'popularity': 36.496,
   'vote_count': 1350,
   'video': False,
   'poster_path': '/gzlbb3yeVISpQ3REd3Ga1scWGTU.jpg',
   'id': 443791,
   'adult': False,
   'backdrop_path': '/ww7eC3BqSbFsyE5H5qMde8WkxJ2.jpg',
   'original_language': 'en',
   'original_title': 'Underwater',
   'genre_ids': [28, 27, 878, 53],
   'title': 'Underwater',
   'vote_average': 6.4,
   'overview': 'After an earthquake destroys their underwater station, six researchers must navigate two miles along the dangerous, unknown depths of the ocean floor to make it to safety in a race against time.',
   'release_date': '2020-01-08'},
  {'popularity': 36.2,
   'vote_count': 1493,
   'video': False,
   'poster_path': '/33VdppGbeNxICrFUtW2WpGHvfYc.jpg',
   'id': 481848,
   'adult': False,
   'backdrop_path': '/9sXHqZTet3Zg5tgcc0hCDo8Tn35.jpg',
   'original_language': 'en',
   'original_title': 'The Call of the Wild',
   'genre_ids': [12, 18, 10751],
   'title': 'The Call of the Wild',
   'vote_average': 7.4,
   'overview': 'Buck is a big-hearted dog whose blissful domestic life is turned upside down when he is suddenly uprooted from his California home and transplanted to the exotic wilds of the Yukon during the Gold Rush of the 1890s. As the newest rookie on a mail delivery dog sled team—and later its leader—Buck experiences the adventure of a lifetime, ultimately finding his true place in the world and becoming his own master.',
   'release_date': '2020-02-19'},
  {'popularity': 36.161,
   'vote_count': 1803,
   'video': False,
   'poster_path': '/uoplwswBDy7gsOyrbGuKyPFoPCs.jpg',
   'id': 448119,
   'adult': False,
   'backdrop_path': '/xcUf6yIheo78btFqihlRLftdR3M.jpg',
   'original_language': 'en',
   'original_title': 'Dolittle',
   'genre_ids': [12, 35, 14, 10751],
   'title': 'Dolittle',
   'vote_average': 6.8,
   'overview': 'After losing his wife seven years earlier, the eccentric Dr. John Dolittle, famed doctor and veterinarian of Queen Victoria’s England, hermits himself away behind the high walls of Dolittle Manor with only his menagerie of exotic animals for company. But when the young queen falls gravely ill, a reluctant Dolittle is forced to set sail on an epic adventure to a mythical island in search of a cure, regaining his wit and courage as he crosses old adversaries and discovers wondrous creatures.',
   'release_date': '2020-01-01'},
  {'popularity': 35.685,
   'vote_count': 478,
   'video': False,
   'poster_path': '/tIpGQ9uuII7QVFF0GHCFTJFfXve.jpg',
   'id': 555974,
   'adult': False,
   'backdrop_path': '/rpGYHowXtjw37UxdwO1ZcK5E8IN.jpg',
   'original_language': 'en',
   'original_title': 'Brahms: The Boy II',
   'genre_ids': [27, 9648, 53],
   'title': 'Brahms: The Boy II',
   'vote_average': 6.3,
   'overview': 'After a family moves into the Heelshire Mansion, their young son soon makes friends with a life-like doll called Brahms.',
   'release_date': '2020-02-20'},
  {'popularity': 35.297,
   'vote_count': 310,
   'video': False,
   'poster_path': '/vkwgzCBBiY3C1XEy0WakYfMOvnG.jpg',
   'id': 548473,
   'adult': False,
   'backdrop_path': '/iyn2JQsftaqhQlXYaCCvn8udM5i.jpg',
   'original_language': 'en',
   'original_title': 'Color Out of Space',
   'genre_ids': [27, 878],
   'title': 'Color Out of Space',
   'vote_average': 6.2,
   'overview': 'The Gardner family moves to a remote farmstead in rural New England to escape the hustle of the 21st century. They are busy adapting to their new life when a meteorite crashes into their front yard, melts into the earth, and infects both the land and the properties of space-time with a strange, otherworldly colour. To their horror, the family discovers this alien force is gradually mutating every life form that it touches—including them.',
   'release_date': '2020-01-24'},
  {'popularity': 31.538,
   'vote_count': 400,
   'video': False,
   'poster_path': '/n2C6jRK9PtPIs99RQhKtqGlsnsO.jpg',
   'id': 592834,
   'adult': False,
   'backdrop_path': '/bFxGD1TKrJq3Dr5Pjnn739gBhQF.jpg',
   'original_language': 'en',
   'original_title': 'My Spy',
   'genre_ids': [28, 35, 10751],
   'title': 'My Spy',
   'vote_average': 7.1,
   'overview': 'A hardened CIA operative finds himself at the mercy of a precocious 9-year-old girl, having been sent undercover to surveil her family.',
   'release_date': '2020-01-09'},
  {'popularity': 30.086,
   'vote_count': 362,
   'video': False,
   'poster_path': '/uHpHzbHLSsVmAuuGuQSpyVDZmDc.jpg',
   'id': 556678,
   'adult': False,
   'backdrop_path': '/5GbkL9DDRzq3A21nR7Gkv6cFGjq.jpg',
   'original_language': 'en',
   'original_title': 'Emma.',
   'genre_ids': [35, 18, 10749],
   'title': 'Emma.',
   'vote_average': 7,
   'overview': 'In 1800s England, a well-meaning but selfish young woman meddles in the love lives of her friends.',
   'release_date': '2020-02-13'},
  {'popularity': 29.126,
   'vote_count': 269,
   'video': False,
   'poster_path': '/rpqfpSglhDpwihzsLaoketuYKbd.jpg',
   'id': 514207,
   'adult': False,
   'backdrop_path': '/cbJNZeFkiG4ggsNcwzBs6yeCXga.jpg',
   'original_language': 'ru',
   'original_title': 'Вторжение',
   'genre_ids': [28, 878],
   'title': 'Invasion',
   'vote_average': 7.2,
   'overview': "After the fall of the alien ship, it took three years. The catastrophe turned the girl's life from Chertanovo and forever changed our view of the universe. It seems that this was the biggest test for all of us. But mankind does not yet know that very soon he will have to experience a new meeting.",
   'release_date': '2020-01-01'},
  {'popularity': 26.563,
   'vote_count': 991,
   'video': False,
   'poster_path': '/8ZMrZGGW65ePWIgRn1260nA1uUm.jpg',
   'id': 539537,
   'adult': False,
   'backdrop_path': '/27WkMAcrLJYgmJcgbNvzMh2qw70.jpg',
   'original_language': 'en',
   'original_title': 'Fantasy Island',
   'genre_ids': [12, 14, 27],
   'title': 'Fantasy Island',
   'vote_average': 6.2,
   'overview': 'A group of contest winners arrive at an island hotel to live out their dreams, only to find themselves trapped in nightmare scenarios.',
   'release_date': '2020-02-12'},
  {'popularity': 25.371,
   'id': 588009,
   'video': False,
   'vote_count': 34,
   'vote_average': 6.8,
   'title': 'Adú',
   'release_date': '2020-01-31',
   'original_language': 'es',
   'original_title': 'Adú',
   'genre_ids': [18],
   'backdrop_path': '/bwXvBFejQFaoXa2TBkZuKPgSjeA.jpg',
   'adult': False,
   'overview': 'In a desperate attempt to reach Europe and crouched before an airstrip in Cameroon, a six-year-old boy and his older sister wait to sneak into the holds of an airplane. Not too far away, an environmental activist contemplates the terrible image of an elephant, dead and fangless. Not only do you have to fight against poaching, but you will also have to meet the problems of your newly arrived daughter from Spain. Thousands of kilometers to the north, in Melilla, a group of civil guards prepare to face the furious crowd of sub-Saharan people who have begun the assault on the fence. Three stories linked by a central theme, in which none of its protagonists know that their destinies are doomed to cross and that their lives will no longer be the same.',
   'poster_path': '/kFen11ZNKbvfhZo8WBKbC5te8Hi.jpg'},
  {'popularity': 22.851,
   'vote_count': 165,
   'video': False,
   'poster_path': '/spTr0VYyRtl36Lkk6nCnnbFXhus.jpg',
   'id': 466622,
   'adult': False,
   'backdrop_path': '/a7685JYpZ6rmgkbFD3UVV5vNuhx.jpg',
   'original_language': 'en',
   'original_title': 'The Rhythm Section',
   'genre_ids': [28, 53],
   'title': 'The Rhythm Section',
   'vote_average': 5.5,
   'overview': 'After the death of her family in an airplane crash on a flight that she was meant to be on, Stephanie Patrick discovers the crash was not an accident. She then seeks to uncover the truth by adapting the identity of an assassin to track down those responsible.',
   'release_date': '2020-01-31'},
  {'popularity': 22.757,
   'vote_count': 446,
   'video': False,
   'poster_path': '/kNDFTt8O6g7LhIFo1mwlezTTXme.jpg',
   'id': 652483,
   'adult': False,
   'backdrop_path': '/9OaIWmWI7Ph3jqj235zQIrh5yVd.jpg',
   'original_language': 'pt',
   'original_title': 'Modo Avião',
   'genre_ids': [35, 10749],
   'title': 'Airplane Mode',
   'vote_average': 6.4,
   'overview': "When Ana, an influencer, crashes her car while talking on the phone, she's shipped to her grumpy grandfather's farm -- and forced into a digital detox.",
   'release_date': '2020-01-23'},
  {'popularity': 22.741,
   'vote_count': 347,
   'video': False,
   'poster_path': '/uiMHiHp9eAjJty8rddoUnL9G5fU.jpg',
   'id': 492611,
   'adult': False,
   'backdrop_path': '/lYJDf7oa1r9JvRITN1M2Lzis01D.jpg',
   'original_language': 'en',
   'original_title': 'The Turning',
   'genre_ids': [27, 53],
   'title': 'The Turning',
   'vote_average': 5.9,
   'overview': "A young woman quits her teaching job to be a private tutor (governess) for a wealthy young heiress who witnessed her parent's tragic death. Shortly after arriving, the girl's degenerate brother is sent home from his boarding school. The tutor has some strange, unexplainable experiences in the house and begins to suspect there is more to their story.",
   'release_date': '2020-01-23'},
  {'popularity': 22.426,
   'vote_count': 2462,
   'video': False,
   'poster_path': '/6KwrHucIE3CvNT7kTm2MAlZ4fYF.jpg',
   'id': 664413,
   'adult': False,
   'backdrop_path': '/27nn2YJBwY7a1etZ0AiIcOrIgu3.jpg',
   'original_language': 'pl',
   'original_title': '365 dni',
   'genre_ids': [18, 10749],
   'title': '365 Days',
   'vote_average': 7.1,
   'overview': 'Massimo Torricelli, a young and handsome boss of a Sicilian Mafia family, has no other option but to takeover after his father has been assassinated. Laura is a sales director in a luxurious hotel in Warsaw. She has a successful career, but her private life lacks passion. She is taking one last shot to save her relationship. Together with her bone-headed boyfriend Martin and some other friends, she takes a trip to Sicily. She does not expect that Massimo, the most dangerous man on the island, will get in her way, kidnap her, hold her captive and give her 365 days - to fall in love with him.',
   'release_date': '2020-02-07'}]}

In [65]:
pd.DataFrame(data)
# Our movie data is in results column

,page,total_results,total_pages,results
0,1,2827,142,"{'popularity': 85.265, 'vote_count': 4889, 'vi..."
1,1,2827,142,"{'popularity': 70.91, 'vote_count': 4768, 'vid..."
2,1,2827,142,"{'popularity': 66.504, 'vote_count': 2296, 'vi..."
3,1,2827,142,"{'popularity': 45.507, 'vote_count': 2385, 'vi..."
4,1,2827,142,"{'popularity': 44.255, 'vote_count': 4506, 'vi..."
5,1,2827,142,"{'popularity': 36.807, 'vote_count': 91, 'vide..."
6,1,2827,142,"{'popularity': 36.496, 'vote_count': 1350, 'vi..."
7,1,2827,142,"{'popularity': 36.2, 'vote_count': 1493, 'vide..."
8,1,2827,142,"{'popularity': 36.161, 'vote_count': 1803, 'vi..."
9,1,2827,142,"{'popularity': 35.685, 'vote_count': 478, 'vid..."
10,1,2827,142,"{'popularity': 35.297, 'vote_count': 310, 'vid..."
11,1,2827,142,"{'popularity': 31.538, 'vote_count': 400, 'vid..."
12,1,2827,142,"{'popularity': 30.086, 'vote_count': 362, 'vid..."
13,1,2827,142,"{'popularity': 29.126, 'vote_count': 269, 'vid..."
14,1,2827,142,"{'popularity': 26.563, 'vote_count': 991, 'vid..."
15,1,2827,142,"{'popularity': 25.371, 'id': 588009, 'video': ..."
16,1,2827,142,"{'popularity': 22.851, 'vote_count': 165, 'vid..."
17,1,2827,142,"{'popularity': 22.757, 'vote_count': 446, 'vid..."
18,1,2827,142,"{'popularity': 22.741, 'vote_count': 347, 'vid..."
19,1,2827,142,"{'popularity': 22.426, 'vote_count': 2462, 'vi..."

In [67]:
pd.DataFrame(data['results'])

,popularity,vote_count,video,poster_path,id,adult,backdrop_path,original_language,original_title,genre_ids,title,vote_average,overview,release_date
0,85.27,4889,False,/aQvJ5WPzZgYVDrxLX4R6cLJCEaQ.jpg,454626,False,/stmYfCUGd8Iy6kAMBr6AmWqx8Bq.jpg,en,Sonic the Hedgehog,"[28, 35, 878, 10751]",Sonic the Hedgehog,7.50,Based on the global blockbuster videogame fran...,2020-02-12
1,70.91,4768,False,/h4VB6m0RwcicVEZvzftYZyKXs6K.jpg,495764,False,/9xNOiv6DZZjH7ABoUUDP0ZynouU.jpg,en,Birds of Prey (and the Fantabulous Emancipatio...,"[28, 35, 80]",Birds of Prey (and the Fantabulous Emancipatio...,7.20,"Harley Quinn joins forces with a singer, an as...",2020-02-05
2,66.50,2296,False,/5EufsDwXdY2CVttYOk2WtYhgKpa.jpg,570670,False,/uZMZyvarQuXLRqf3xdpdMqzdtjb.jpg,en,The Invisible Man,"[27, 878, 53]",The Invisible Man,7.20,When Cecilia's abusive ex takes his own life a...,2020-02-26
3,45.51,2385,False,/f4aul3FyD3jv3v4bul1IrkWZvzq.jpg,508439,False,/dW6yBuKwiMeronJZw8kozYLMorB.jpg,en,Onward,"[12, 16, 35, 14, 10751]",Onward,7.90,"In a suburban fantasy world, two teenage elf b...",2020-02-29
4,44.26,4506,False,/y95lQLnuNKdPAzw9F9Ab8kJ80c3.jpg,38700,False,/upUy2QhMZEmtypPW3PdieKLAHxh.jpg,en,Bad Boys for Life,"[28, 80, 53]",Bad Boys for Life,7.20,Marcus and Mike are forced to confront new thr...,2020-01-15
5,36.81,91,False,/fOvqEunubL3wPskvtk2Ficfl0pH.jpg,451184,False,/72r4uAQGsa8KEv0DB2TpSu31lEB.jpg,en,Wasp Network,"[18, 36, 53]",Wasp Network,6.30,"Havana, Cuba, 1990. René González, an airplane...",2020-01-29
6,36.50,1350,False,/gzlbb3yeVISpQ3REd3Ga1scWGTU.jpg,443791,False,/ww7eC3BqSbFsyE5H5qMde8WkxJ2.jpg,en,Underwater,"[28, 27, 878, 53]",Underwater,6.40,After an earthquake destroys their underwater ...,2020-01-08
7,36.20,1493,False,/33VdppGbeNxICrFUtW2WpGHvfYc.jpg,481848,False,/9sXHqZTet3Zg5tgcc0hCDo8Tn35.jpg,en,The Call of the Wild,"[12, 18, 10751]",The Call of the Wild,7.40,Buck is a big-hearted dog whose blissful domes...,2020-02-19
8,36.16,1803,False,/uoplwswBDy7gsOyrbGuKyPFoPCs.jpg,448119,False,/xcUf6yIheo78btFqihlRLftdR3M.jpg,en,Dolittle,"[12, 35, 14, 10751]",Dolittle,6.80,"After losing his wife seven years earlier, the...",2020-01-01
9,35.69,478,False,/tIpGQ9uuII7QVFF0GHCFTJFfXve.jpg,555974,False,/rpGYHowXtjw37UxdwO1ZcK5E8IN.jpg,en,Brahms: The Boy II,"[27, 9648, 53]",Brahms: The Boy II,6.30,After a family moves into the Heelshire Mansio...,2020-02-20
10,35.30,310,False,/vkwgzCBBiY3C1XEy0WakYfMOvnG.jpg,548473,False,/iyn2JQsftaqhQlXYaCCvn8udM5i.jpg,en,Color Out of Space,"[27, 878]",Color Out of Space,6.20,The Gardner family moves to a remote farmstead...,2020-01-24
11,31.54,400,False,/n2C6jRK9PtPIs99RQhKtqGlsnsO.jpg,592834,False,/bFxGD1TKrJq3Dr5Pjnn739gBhQF.jpg,en,My Spy,"[28, 35, 10751]",My Spy,7.10,A hardened CIA operative finds himself at the ...,2020-01-09
12,30.09,362,False,/uHpHzbHLSsVmAuuGuQSpyVDZmDc.jpg,556678,False,/5GbkL9DDRzq3A21nR7Gkv6cFGjq.jpg,en,Emma.,"[35, 18, 10749]",Emma.,7.00,"In 1800s England, a well-meaning but selfish y...",2020-02-13
13,29.13,269,False,/rpqfpSglhDpwihzsLaoketuYKbd.jpg,514207,False,/cbJNZeFkiG4ggsNcwzBs6yeCXga.jpg,ru,Вторжение,"[28, 878]",Invasion,7.20,"After the fall of the alien ship, it took thre...",2020-01-01
14,26.56,991,False,/8ZMrZGGW65ePWIgRn1260nA1uUm.jpg,539537,False,/27WkMAcrLJYgmJcgbNvzMh2qw70.jpg,en,Fantasy Island,"[12, 14, 27]",Fantasy Island,6.20,A group of contest winners arrive at an island...,2020-02-12
15,25.37,34,False,/kFen11ZNKbvfhZo8WBKbC5te8Hi.jpg,588009,False,/bwXvBFejQFaoXa2TBkZuKPgSjeA.jpg,es,Adú,[18],Adú,6.80,In a desperate attempt to reach Europe and cro...,2020-01-31
16,22.85,165,False,/spTr0VYyRtl36Lkk6nCnnbFXhus.jpg,466622,False,/a7685JYpZ6rmgkbFD3UVV5vNuhx.jpg,en,The Rhythm Section,"[28, 53]",The Rhythm Section,5.50,After the death of her family in an airplane c...,2020-01-31
17,22.76,446,False,/kNDFTt8O6g7LhIFo1mwlezTTXme.jpg,652483,False,/9OaIWmWI7Ph3jqj235zQIrh5yVd.jpg,pt,Modo Avião,"[35, 10749]",Airplane Mode,6.40,"When Ana, an influencer, crashes her car while...",2020-01-23
18,22.74,347,False,/uiMHiHp9eAjJty8rddoUnL9G5fU.jpg,492611,False,/lYJDf7oa1r9JvRITN1M2Lzis01D.jpg,en,The Turning,"[27, 53]",The Turning,5.90,A young woman quits her teaching job to be a p...,2020-01-23
19,22.43,2462,False,/6KwrHucIE3CvNT7kTm2MAlZ4fYF.jpg,664413,False,/27nn2YJBwY7a1etZ0AiIcOrIgu3.jpg,pl,365 dni,"[18, 10749]",365 Days,7.10,"Massimo Torricelli, a young and handsome boss ...",2020-02-07

In [ ]:
# We can get only limited data from discover module, most data is about the page no. and total pages of data.
# Hence one must use movies module simultaneously

In [79]:
# by default page = 1
query2 = '&primary_release_date.gte=2020-01-01&primary_release_date.lte=2020-02-29&page=2'

In [80]:
url2 = discover_api+api_key+query2

In [81]:
data2 = requests.get(url2).json()
data2

{'page': 2,
 'total_results': 2827,
 'total_pages': 142,
 'results': [{'popularity': 21.739,
   'vote_count': 151,
   'video': False,
   'poster_path': '/gmt3HRRgtsio4nRpaHZVKOTwH8W.jpg',
   'id': 666750,
   'adult': False,
   'backdrop_path': '/6mKAKhj8POVGqV1GsroS5mGIUe9.jpg',
   'original_language': 'en',
   'original_title': 'Dragonheart: Vengeance',
   'genre_ids': [14],
   'title': 'Dragonheart: Vengeance',
   'vote_average': 6.6,
   'overview': 'Lukas, a young farmer whose family is killed by savage raiders in the countryside, sets out on an epic quest for revenge, forming an unlikely trio with a majestic dragon and a swashbuckling, sword-fighting mercenary, Darius.',
   'release_date': '2020-02-04'},
  {'popularity': 21.699,
   'vote_count': 277,
   'video': False,
   'poster_path': '/yce0CZPWd0GGudksRJi8p4gDj1M.jpg',
   'id': 526019,
   'adult': False,
   'backdrop_path': '/wMv7GL12s0bJmfv3ckdglOCQ8B3.jpg',
   'original_language': 'en',
   'original_title': 'Like a Boss',
   'genre_ids': [35],
   'title': 'Like a Boss',
   'vote_average': 6.5,
   'overview': 'Two female friends with very different ideals decide to start a beauty company together. One is more practical, while the other wants to earn her fortune and live a lavish lifestyle.',
   'release_date': '2020-01-09'},
  {'popularity': 20.691,
   'vote_count': 480,
   'video': False,
   'poster_path': '/mBBBXseq4k4dI63k06XIrsc02j8.jpg',
   'id': 542224,
   'adult': False,
   'backdrop_path': '/jEPEVO48hKQB0EUNFQOSv6qtKNW.jpg',
   'original_language': 'en',
   'original_title': 'Gretel & Hansel',
   'genre_ids': [14, 27, 53],
   'title': 'Gretel & Hansel',
   'vote_average': 6.4,
   'overview': 'A long time ago in a distant fairy tale countryside, a young girl leads her little brother into a dark wood in desperate search of food and work, only to stumble upon a nexus of terrifying evil.',
   'release_date': '2020-01-30'},
  {'popularity': 20.675,
   'vote_count': 570,
   'video': False,
   'poster_path': '/vN7JHlHOT9rHNDU27tfYqhABBj5.jpg',
   'id': 465086,
   'adult': False,
   'backdrop_path': '/46a1JNGmCSfoimlxtuxeDquuQ37.jpg',
   'original_language': 'en',
   'original_title': 'The Grudge',
   'genre_ids': [27, 9648],
   'title': 'The Grudge',
   'vote_average': 5.7,
   'overview': 'After a young mother murders her family in her own house, a detective attempts to investigate the mysterious case, only to discover that the house is cursed by a vengeful ghost. Now targeted by the demonic spirits, the detective must do anything to protect herself and her family from harm.',
   'release_date': '2020-01-02'},
  {'popularity': 20.163,
   'vote_count': 82,
   'video': False,
   'poster_path': '/hPWjid7yMatyIDHvku7lCMN7zSi.jpg',
   'id': 526007,
   'adult': False,
   'backdrop_path': '/kO651id9IGtMGz7OwT1ZThJ6NP2.jpg',
   'original_language': 'en',
   'original_title': 'The Night Clerk',
   'genre_ids': [80, 18, 53],
   'title': 'The Night Clerk',
   'vote_average': 5.5,
   'overview': 'Hotel night clerk Bart Bromley is a highly intelligent young man on the Autism spectrum. When a woman is murdered during his shift, Bart becomes the prime suspect. As the police investigation closes in, Bart makes a personal connection with a beautiful guest named Andrea, but soon realises he must stop the real murderer before she becomes the next victim.',
   'release_date': '2020-02-19'},
  {'popularity': 20.061,
   'vote_count': 1335,
   'video': False,
   'poster_path': '/4SafxuMKQiw4reBiWKVZJpJn80I.jpg',
   'id': 342470,
   'adult': False,
   'backdrop_path': '/tcrNJfyNEIqaBR8Ogkgnq5xQJnf.jpg',
   'original_language': 'en',
   'original_title': 'All the Bright Places',
   'genre_ids': [18, 10749],
   'title': 'All the Bright Places',
   'vote_average': 7.6,
   'overview': 'Two teens facing personal struggles form a powerful bond as they embark on a cathartic journey chronicling the wonders of Indiana.',
   'release_date': '2020-02-28'},
  {'popularity': 19.306,
   'id': 594436,
   'video': False,
   'vote_count': 4,
   'vote_average': 5.1,
   'title': 'The Magic Kids: Three Unlikely Heroes',
   'release_date': '2020-01-23',
   'original_language': 'de',
   'original_title': 'Die Wolf-Gäng',
   'genre_ids': [12],
   'backdrop_path': '/5NBGC5cSa4LeskH785Cuog4RUHf.jpg',
   'adult': False,
   'overview': 'Vlad has just moved and joined one of the most famous magical schools in the world, where he meets fairies, witches, trolls and dwarfs. Him and his father are the first vampires in town, but he soon meets other special kids.',
   'poster_path': '/9gHxyRy7qu08js74XZmiwK2qnGk.jpg'},
  {'popularity': 19.175,
   'vote_count': 229,
   'video': False,
   'poster_path': '/gItrnbEbMBbUrdIkFz8kgS2gkt.jpg',
   'id': 505225,
   'adult': False,
   'backdrop_path': '/lsgYcIbcoQeDZXsHYMOnkvk3sn0.jpg',
   'original_language': 'en',
   'original_title': 'The Last Thing He Wanted',
   'genre_ids': [18, 53],
   'title': 'The Last Thing He Wanted',
   'vote_average': 4.9,
   'overview': 'At the turning point of the Iran-Contra affair, Elena McMahon, a fearless investigative journalist covering the 1984 US presidential campaign, puts herself in danger when she abandons her assigned task in order to fulfill the last wish of her ailing father, a mysterious man whose past activities she barely knows…',
   'release_date': '2020-02-14'},
  {'popularity': 18.579,
   'vote_count': 40,
   'video': False,
   'poster_path': '/iSwTnNS7TKAS79Sz9LvyqlBxxrU.jpg',
   'id': 547017,
   'adult': False,
   'backdrop_path': '/97UR8xPpUNqpvx5zr7eyf4YSBCE.jpg',
   'original_language': 'en',
   'original_title': 'Shirley',
   'genre_ids': [18, 53],
   'title': 'Shirley',
   'vote_average': 6.6,
   'overview': 'A famous horror writer finds inspiration for her next book after she and her husband take in a young couple.',
   'release_date': '2020-01-25'},
  {'popularity': 18.24,
   'vote_count': 4,
   'video': False,
   'poster_path': '/5aueUTOvA8Y6A4eteDwhgo8ReX8.jpg',
   'id': 653668,
   'adult': False,
   'backdrop_path': '/n0uefHZH2sX0HxU5Ec1w1tF8n3k.jpg',
   'original_language': 'en',
   'original_title': 'Miss Juneteenth',
   'genre_ids': [18],
   'title': 'Miss Juneteenth',
   'vote_average': 3.5,
   'overview': 'Turquoise, a former beauty queen turned hardworking single mother, prepares her rebellious teenage daughter for the “Miss Juneteenth” pageant, hoping to keep her from repeating the same mistakes in life that she did.',
   'release_date': '2020-01-24'},
  {'popularity': 16.991,
   'vote_count': 1265,
   'video': False,
   'poster_path': '/maib5VlmEqp5xlN8lptnBSftp2o.jpg',
   'id': 565426,
   'adult': False,
   'backdrop_path': '/9LsJP9OuIBmBUxZpmVKtUUjF0PA.jpg',
   'original_language': 'en',
   'original_title': 'To All the Boys: P.S. I Still Love You',
   'genre_ids': [35, 10749],
   'title': 'To All the Boys: P.S. I Still Love You',
   'vote_average': 6.9,
   'overview': 'Lara Jean and Peter have just taken their romance from pretend to officially real when another recipient of one of her love letters enters the picture.',
   'release_date': '2020-02-12'},
  {'popularity': 16.485,
   'vote_count': 234,
   'video': False,
   'poster_path': '/lS7lqDT3NF2LcSPdxXNJY9pMxZ6.jpg',
   'id': 630220,
   'adult': False,
   'backdrop_path': '/8XovMFaYtOxd4Xmstj9ZImb1MwL.jpg',
   'original_language': 'it',
   'original_title': '18 regali',
   'genre_ids': [18],
   'title': '18 Presents',
   'vote_average': 7.6,
   'overview': "Elisa is only forty when an incurable disease takes her from her husband and their daughter. Before her heart stops, Elisa finds a way to stay close to her: a gift for every birthday up to her adult age, 18 gifts to try to accompany her child's growth year after year.",
   'release_date': '2020-01-02'},
  {'popularity': 16.233,
   'vote_count': 53,
   'video': False,
   'poster_path': '/uZF4BZe45icLx7XVFUFnmLEemNm.jpg',
   'id': 501395,
   'adult': False,
   'backdrop_path': '/Aixayi7GpXgfoNAdakCG6I53aIZ.jpg',
   'original_language': 'en',
   'original_title': 'True History of the Kelly Gang',
   'genre_ids': [80, 18],
   'title': 'True History of the Kelly Gang',
   'vote_average': 6,
   'overview': 'Set against the badlands of colonial Australia where the English rule with a bloody fist and the Irish endure, Ned Kelly discovers he comes from a line of Irish rebels—an uncompromising army of cross dressing bandits immortalised for terrorising their oppressors back in Ireland. Nurtured by the notorious bushranger, Harry Power and fuelled by the unfair arrest of his mother, Kelly recruits a wild bunch of warriors to plot one of the most audacious attacks of anarchy and rebellion the country has ever seen.',
   'release_date': '2020-01-09'},
  {'popularity': 16.136,
   'vote_count': 89,
   'video': False,
   'poster_path': '/dV3t2ZrforWd803QmgEMOVkv8Mj.jpg',
   'id': 560391,
   'adult': False,
   'backdrop_path': '/hBiYJUSmEhu9gEE9i3Kt70A1Q46.jpg',
   'original_language': 'en',
   'original_title': 'Downhill',
   'genre_ids': [35, 18],
   'title': 'Downhill',
   'vote_average': 5.5,
   'overview': 'Barely escaping an avalanche during a family ski vacation in the Alps, a married couple is thrown into disarray as they are forced to reevaluate their lives and how they feel about each other.',
   'release_date': '2020-02-13'},
  {'popularity': 16.037,
   'vote_count': 34,
   'video': False,
   'poster_path': '/fQqqsj0WhANqGqHQ8BhBE7iI4bk.jpg',
   'id': 503917,
   'adult': False,
   'backdrop_path': '/9WirGdnbnM2dJKQLz1vRPUTmnIR.jpg',
   'original_language': 'cn',
   'original_title': '肥龍過江',
   'genre_ids': [28, 35, 80],
   'title': 'Enter the Fat Dragon',
   'vote_average': 5.1,
   'overview': 'After being dumped by his fiancé, heartbroken Hong Kong police officer Fallon Zhu gains 200+ pounds. His superiors demote him to the job of escorting convicts to Japan. When a convict in his custody mysteriously dies, he must team up with citizen Thor to solve the mystery.',
   'release_date': '2020-01-23'},
  {'popularity': 16.015,
   'id': 531299,
   'video': False,
   'vote_count': 29,
   'vote_average': 5.6,
   'title': 'Kill Chain',
   'release_date': '2020-02-20',
   'original_language': 'en',
   'original_title': 'Kill Chain',
   'genre_ids': [53],
   'backdrop_path': '/p6ExERRwodksg0fFKzCjmNCR6Hw.jpg',
   'adult': False,
   'overview': 'A hotel room shootout between two assassins kicks off a long night where bodies fall like dominoes, as we follow a chain of crooked cops, gangsters, hitmen, a femme Fatale and an ex-mercenary through a relay of murder, betrayal, revenge and redemption.',
   'poster_path': '/wy0Xs5mGtD92PyKvsl0lxzbzscG.jpg'},
  {'popularity': 15.878,
   'vote_count': 22,
   'video': False,
   'poster_path': '/2MB2FPNxdSlykbH7ghBltoBYnTH.jpg',
   'id': 653610,
   'adult': False,
   'backdrop_path': '/eQNlRh69W9HVw46znLOhyMe7dsN.jpg',
   'original_language': 'en',
   'original_title': 'Disclosure',
   'genre_ids': [99, 36],
   'title': 'Disclosure',
   'vote_average': 8,
   'overview': "An investigation of how Hollywood's fabled stories have deeply influenced how Americans feel about transgender people, and how transgender people have been taught to feel about themselves.",
   'release_date': '2020-01-27'},
  {'popularity': 15.559,
   'vote_count': 51,
   'video': False,
   'poster_path': '/zJpJkVgezsR7dp6KQwyxtGIAOZv.jpg',
   'id': 627463,
   'adult': False,
   'backdrop_path': '/vxlJveSEcEtmkcruQa3wB01ucnm.jpg',
   'original_language': 'en',
   'original_title': 'The Assistant',
   'genre_ids': [18],
   'title': 'The Assistant',
   'vote_average': 6.6,
   'overview': 'A searing look at a day in the life of an assistant to a powerful executive. As Jane follows her daily routine, she grows increasingly aware of the insidious abuse that threatens every aspect of her position.',
   'release_date': '2020-01-31'},
  {'popularity': 15.105,
   'vote_count': 369,
   'video': False,
   'poster_path': '/FVU9HZ87VfYMe5vIJvM3hFTG5i.jpg',
   'id': 618355,
   'adult': False,
   'backdrop_path': '/uehwVV9xuALZ2SXeHGiX4Ay5dR7.jpg',
   'original_language': 'en',
   'original_title': 'Superman: Red Son',
   'genre_ids': [28, 16, 878],
   'title': 'Superman: Red Son',
   'vote_average': 7.5,
   'overview': 'Set in the thick of the Cold War, Red Son introduces us to a Superman who landed in the USSR during the 1950s and grows up to become a Soviet symbol that fights for the preservation of Stalin’s brand of communism.',
   'release_date': '2020-02-24'},
  {'popularity': 15.029,
   'vote_count': 215,
   'video': False,
   'poster_path': '/sIPNjDEf1iXOqULOXiRhqprllbz.jpg',
   'id': 674607,
   'adult': False,
   'backdrop_path': '/9gXOA57zkxDko4yEE6vjFF538Xn.jpg',
   'original_language': 'fr',
   'original_title': "Jusqu'au déclin",
   'genre_ids': [28, 12, 53],
   'title': 'The Decline',
   'vote_average': 6.3,
   'overview': 'Anticipating a disaster, Antoine, a father, attends a survivalist training given by Alain in his autonomous hideout. In fear of a natural, economic or social crisis, the group trains to face the different possible apocalyptic scenarios. But the disaster they will experience will not be the one they predicted.',
   'release_date': '2020-02-27'}]}

In [83]:
pd.DataFrame(data2)

,page,total_results,total_pages,results
0,2,2827,142,"{'popularity': 21.739, 'vote_count': 151, 'vid..."
1,2,2827,142,"{'popularity': 21.699, 'vote_count': 277, 'vid..."
2,2,2827,142,"{'popularity': 20.691, 'vote_count': 480, 'vid..."
3,2,2827,142,"{'popularity': 20.675, 'vote_count': 570, 'vid..."
4,2,2827,142,"{'popularity': 20.163, 'vote_count': 82, 'vide..."
5,2,2827,142,"{'popularity': 20.061, 'vote_count': 1335, 'vi..."
6,2,2827,142,"{'popularity': 19.306, 'id': 594436, 'video': ..."
7,2,2827,142,"{'popularity': 19.175, 'vote_count': 229, 'vid..."
8,2,2827,142,"{'popularity': 18.579, 'vote_count': 40, 'vide..."
9,2,2827,142,"{'popularity': 18.24, 'vote_count': 4, 'video'..."
10,2,2827,142,"{'popularity': 16.991, 'vote_count': 1265, 'vi..."
11,2,2827,142,"{'popularity': 16.485, 'vote_count': 234, 'vid..."
12,2,2827,142,"{'popularity': 16.233, 'vote_count': 53, 'vide..."
13,2,2827,142,"{'popularity': 16.136, 'vote_count': 89, 'vide..."
14,2,2827,142,"{'popularity': 16.037, 'vote_count': 34, 'vide..."
15,2,2827,142,"{'popularity': 16.015, 'id': 531299, 'video': ..."
16,2,2827,142,"{'popularity': 15.878, 'vote_count': 22, 'vide..."
17,2,2827,142,"{'popularity': 15.559, 'vote_count': 51, 'vide..."
18,2,2827,142,"{'popularity': 15.105, 'vote_count': 369, 'vid..."
19,2,2827,142,"{'popularity': 15.029, 'vote_count': 215, 'vid..."

In [84]:
pd.DataFrame(data2['results'])

,popularity,vote_count,video,poster_path,id,adult,backdrop_path,original_language,original_title,genre_ids,title,vote_average,overview,release_date
0,21.74,151,False,/gmt3HRRgtsio4nRpaHZVKOTwH8W.jpg,666750,False,/6mKAKhj8POVGqV1GsroS5mGIUe9.jpg,en,Dragonheart: Vengeance,[14],Dragonheart: Vengeance,6.60,"Lukas, a young farmer whose family is killed b...",2020-02-04
1,21.70,277,False,/yce0CZPWd0GGudksRJi8p4gDj1M.jpg,526019,False,/wMv7GL12s0bJmfv3ckdglOCQ8B3.jpg,en,Like a Boss,[35],Like a Boss,6.50,Two female friends with very different ideals ...,2020-01-09
2,20.69,480,False,/mBBBXseq4k4dI63k06XIrsc02j8.jpg,542224,False,/jEPEVO48hKQB0EUNFQOSv6qtKNW.jpg,en,Gretel & Hansel,"[14, 27, 53]",Gretel & Hansel,6.40,A long time ago in a distant fairy tale countr...,2020-01-30
3,20.68,570,False,/vN7JHlHOT9rHNDU27tfYqhABBj5.jpg,465086,False,/46a1JNGmCSfoimlxtuxeDquuQ37.jpg,en,The Grudge,"[27, 9648]",The Grudge,5.70,After a young mother murders her family in her...,2020-01-02
4,20.16,82,False,/hPWjid7yMatyIDHvku7lCMN7zSi.jpg,526007,False,/kO651id9IGtMGz7OwT1ZThJ6NP2.jpg,en,The Night Clerk,"[80, 18, 53]",The Night Clerk,5.50,Hotel night clerk Bart Bromley is a highly int...,2020-02-19
5,20.06,1335,False,/4SafxuMKQiw4reBiWKVZJpJn80I.jpg,342470,False,/tcrNJfyNEIqaBR8Ogkgnq5xQJnf.jpg,en,All the Bright Places,"[18, 10749]",All the Bright Places,7.60,Two teens facing personal struggles form a pow...,2020-02-28
6,19.31,4,False,/9gHxyRy7qu08js74XZmiwK2qnGk.jpg,594436,False,/5NBGC5cSa4LeskH785Cuog4RUHf.jpg,de,Die Wolf-Gäng,[12],The Magic Kids: Three Unlikely Heroes,5.10,Vlad has just moved and joined one of the most...,2020-01-23
7,19.18,229,False,/gItrnbEbMBbUrdIkFz8kgS2gkt.jpg,505225,False,/lsgYcIbcoQeDZXsHYMOnkvk3sn0.jpg,en,The Last Thing He Wanted,"[18, 53]",The Last Thing He Wanted,4.90,At the turning point of the Iran-Contra affair...,2020-02-14
8,18.58,40,False,/iSwTnNS7TKAS79Sz9LvyqlBxxrU.jpg,547017,False,/97UR8xPpUNqpvx5zr7eyf4YSBCE.jpg,en,Shirley,"[18, 53]",Shirley,6.60,A famous horror writer finds inspiration for h...,2020-01-25
9,18.24,4,False,/5aueUTOvA8Y6A4eteDwhgo8ReX8.jpg,653668,False,/n0uefHZH2sX0HxU5Ec1w1tF8n3k.jpg,en,Miss Juneteenth,[18],Miss Juneteenth,3.50,"Turquoise, a former beauty queen turned hardwo...",2020-01-24
10,16.99,1265,False,/maib5VlmEqp5xlN8lptnBSftp2o.jpg,565426,False,/9LsJP9OuIBmBUxZpmVKtUUjF0PA.jpg,en,To All the Boys: P.S. I Still Love You,"[35, 10749]",To All the Boys: P.S. I Still Love You,6.90,Lara Jean and Peter have just taken their roma...,2020-02-12
11,16.48,234,False,/lS7lqDT3NF2LcSPdxXNJY9pMxZ6.jpg,630220,False,/8XovMFaYtOxd4Xmstj9ZImb1MwL.jpg,it,18 regali,[18],18 Presents,7.60,Elisa is only forty when an incurable disease ...,2020-01-02
12,16.23,53,False,/uZF4BZe45icLx7XVFUFnmLEemNm.jpg,501395,False,/Aixayi7GpXgfoNAdakCG6I53aIZ.jpg,en,True History of the Kelly Gang,"[80, 18]",True History of the Kelly Gang,6.00,Set against the badlands of colonial Australia...,2020-01-09
13,16.14,89,False,/dV3t2ZrforWd803QmgEMOVkv8Mj.jpg,560391,False,/hBiYJUSmEhu9gEE9i3Kt70A1Q46.jpg,en,Downhill,"[35, 18]",Downhill,5.50,Barely escaping an avalanche during a family s...,2020-02-13
14,16.04,34,False,/fQqqsj0WhANqGqHQ8BhBE7iI4bk.jpg,503917,False,/9WirGdnbnM2dJKQLz1vRPUTmnIR.jpg,cn,肥龍過江,"[28, 35, 80]",Enter the Fat Dragon,5.10,"After being dumped by his fiancé, heartbroken ...",2020-01-23
15,16.02,29,False,/wy0Xs5mGtD92PyKvsl0lxzbzscG.jpg,531299,False,/p6ExERRwodksg0fFKzCjmNCR6Hw.jpg,en,Kill Chain,[53],Kill Chain,5.60,A hotel room shootout between two assassins ki...,2020-02-20
16,15.88,22,False,/2MB2FPNxdSlykbH7ghBltoBYnTH.jpg,653610,False,/eQNlRh69W9HVw46znLOhyMe7dsN.jpg,en,Disclosure,"[99, 36]",Disclosure,8.00,An investigation of how Hollywood's fabled sto...,2020-01-27
17,15.56,51,False,/zJpJkVgezsR7dp6KQwyxtGIAOZv.jpg,627463,False,/vxlJveSEcEtmkcruQa3wB01ucnm.jpg,en,The Assistant,[18],The Assistant,6.60,A searing look at a day in the life of an assi...,2020-01-31
18,15.11,369,False,/FVU9HZ87VfYMe5vIJvM3hFTG5i.jpg,618355,False,/uehwVV9xuALZ2SXeHGiX4Ay5dR7.jpg,en,Superman: Red Son,"[28, 16, 878]",Superman: Red Son,7.50,"Set in the thick of the Cold War, Red Son intr...",2020-02-24
19,15.03,215,False,/sIPNjDEf1iXOqULOXiRhqprllbz.jpg,674607,False,/9gXOA57zkxDko4yEE6vjFF538Xn.jpg,fr,Jusqu'au déclin,"[28, 12, 53]",The Decline,6.30,"Anticipating a disaster, Antoine, a father, at...",2020-02-27

In [92]:
movie_id = list(df3.id)
movie_id

[299534,
 19995,
 140607,
 299536,
 597,
 135397,
 420818,
 24428,
 168259,
 99861,
 284054,
 12445,
 181808,
 330457,
 351286,
 109445,
 321612,
 260513]

In [94]:
basic_url = 'https://api.themoviedb.org/3/movie/{}?{}'

In [97]:
json_list = []
for movie in movie_id:
    url = basic_url.format(movie, api_key)
    r = requests.get(url)
    if r.status_code != 200:
        continue
    else:
        data = r.json()
        json_list.append(data)
df = pd.DataFrame(json_list)
df

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",356000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",https://www.marvel.com/movies/avengers-endgame,299534,tt4154796,en,Avengers: Endgame,After the devastating events of Avengers: Infi...,44.20,/or06FN3Dka5tukK1e9sl16pB3iy.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-04-24,2797800564,181,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Part of the journey is the end.,Avengers: Endgame,False,8.30,13921
1,False,/eS8rJ1KzRNBewx9MduiSHM4kr7S.jpg,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.avatarmovie.com/,19995,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",31.47,/6EiRUJpuoeQPghrs3YNktfnqOVh.jpg,"[{'id': 444, 'logo_path': '/42UPdZl6B2cFXgNUAS...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-12-10,2787965087,162,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Enter the World of Pandora.,Avatar,False,7.40,21596
2,False,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,en,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,38.69,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,"[{'id': 1634, 'logo_path': None, 'name': 'True...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.40,14636
3,False,/lmZFxXgJE3vgrciwuDib0N8CfQo.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",https://www.marvel.com/movies/avengers-infinit...,299536,tt4154756,en,Avengers: Infinity War,As the Avengers and their allies have continue...,69.67,/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-04-25,2046239637,149,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,An entire universe. Once and for all.,Avengers: Infinity War,False,8.30,18752
4,False,/6VmFqApQRyZZzmiGOQq2C92jyvH.jpg,None,200000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",,597,tt0120338,en,Titanic,101-year-old Rose DeWitt Bukater tells the sto...,31.54,/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg,"[{'id': 4, 'logo_path': '/fycMZt242LVjagMByZOL...","[{'iso_3166_1': 'US', 'name': 'United States o...",1997-11-18,2187463944,194,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Nothing on Earth could come between them.,Titanic,False,7.80,17237
5,False,/xX0IzuFa1Fj06iU2NlOmeMPe7oS.jpg,"{'id': 328, 'name': 'Jurassic Park Collection'...",150000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.jurassicworld.com/,135397,tt0369610,en,Jurassic World,Twenty-two years after the events of Jurassic ...,23.65,/2c0ajTi8nvrsYl5Oi1lVi6F0kd2.jpg,"[{'id': 56, 'logo_path': '/cEaxANEisCqeEoRvODv...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-06-06,1671713208,124,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The park is open.,Jurassic World,False,6.60,15736
6,False,/nRXO2SnOA75OsWhNhXstHB8ZmI3.jpg,None,260000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",https://movies.disney.com/the-lion-king-2019,420818,tt6105098,en,The Lion King,"Simba idolizes his father, King Mufasa, and ta...",50.83,/dzBtMocZuJbjLOXvrl4zGYigDzh.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-07-12,1656943394,118,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The King has Returned.,The Lion King,False,7.20,6237
7,False,/kwUQFeFXOOpgloMgZaadhzkbTI4.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://marvel.com/avengers_movie/,24428,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,43.20,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-04-25,1519557910,143,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Some assembly required.,The Avengers,False,7.70,22672
8,False,/ehzI1mVcnHqB58NqPyQwpMqcVoz.jpg,"{'id': 9485, 'name': 'The Fast and the Furious...",190000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",http://www.furious7.com/,168259,tt2820852,en,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...,21.39,/d9jZ2bKZw3ptTuxAyVHA6olPAVs.jpg,"[{'id': 87857, 'logo_path': None, 'name': 'Abu...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-04-01,1515047671,137,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Vengeance Hits Home,Furious 7,False,7.30,7605
9,False,/8i6ZDk97Vyh0jHohMG4vFeFuKJh.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",250000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,tt2395427,en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,32.93,/4ssDuvEDkSArWEdyBl2X5EHvYKU.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-04-22,1405403694,141,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A New Age Has Come.,Avengers: Age of Ultron,False,7.30,16065
10,False,/6ELJEzQJ3Y45HczvreC3dg0GV5R.jpg,None,200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://marvel.com/movies/movie/224/black_panther,284054,tt1825683,en,Black Panther,King T'Challa returns home from America to the...,33.09,/uxzzxijgPIY7slzFvMotPv8wjKA.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-02-13,1346739107,134,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Long live the king.,Black Panther,False,7.40,15366
11,False,/n5A7brJCjejceZmHyujwUTVgQNC.jpg,"{'id': 1241, 'name': 'Harry Potter Collection'...",125000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",https://www.warnerbros.com/movies/harry-potter...,12445,tt1201607,en,Harry Potter and the Deathly Hallows: Part 2,"Harry, Ron and Hermione continue their quest t...",35.18,/da22ZBmrDOXOCDRvr8Gic8ldhv4.jpg,"[{'id': 174, 'logo_path': '/IuAlhI9eVC9Z8UQWOI...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2011-07-07,1341511219,130,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It all ends here.,Harry Potter and the Deathly Hallows: Part 2,False,8.10,13950
12,False,/5Iw7zQTHVRBOYpA0V6z0yypOPZh.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",200000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.starwars.com/films/star-wars-episo...,181808,tt2527336,en,Star Wars: The Last Jedi,Rey develops her newly discovered abilities wi...,36.17,/kOVEVeg59E0wsnXmF9nrh6OmWII.jpg,"[{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017-12-13,1332539889,152,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Darkness rises... and light to meet it,Star Wars: The Last Jedi,False,7.00,10705
13,False,/xJWPZIYOEFIjZpBL7SVBGnzRYXp.jpg,"{'id': 386382, 'name': 'Frozen Collection', 'p...",150000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",https://movies.disney.com/frozen-2,330457,tt4520988,en,Frozen II,"Elsa, Anna, Kristoff and Olaf head far into th...",70.48,/pjeMs3yqRmFL3giJy4PMXWZTTPa.jpg,"[{'id': 6125, 'logo_path': '/tVPmo07IHhBs4Huil...","[{'iso_3166_1': 'US', 'name': 'United States o...",2019-11-20,1450026933,104,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The past is not what it seems.,Frozen II,False,7.30,5192
14,False,/3s9O5af2xWKWR5JzP2iJZpZeQQg.jpg,"{'id': 328, 'name': 'Jurassic Park Collection'...",170000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.jurassicworld.com,351286,tt4881806,en,Jurassic World: Fallen Kingdom,Three years after the demise of Jurassic World...,40.61,/c9XxwwhPHdaImA2f1WEfEsbhaFB.jpg,"[{'id': 56, 'logo_path': '/cEaxANEisCqeEoRvODv...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-06-06,1303459585,129,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The park is gone,Jurassic World: Fallen Kingdom,False,6.50,7747
15,False,/fydUcbkqLyESCFa9U5XKqi8dIVj.jpg,"{'id': 386382, 'name': 'Frozen Collection', 'p...",150000000,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",http://movies.disney.com/frozen,109445,tt2294629,en,Frozen,Young princess Anna of Arendelle dreams about ...,40.17,/kgwjIb2JDHRhNk13lmSxiClFjVk.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2013-11-27,1274219009,102,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Only the act of true love will thaw a frozen h...,Frozen,False,7.30,12007
16,False,/7QshG75xKCmClghQDU1ta2BTaja.jpg,None,160000000,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",http://movies.disney.com/beauty-and-the-beast-...,321612,tt2771200,en,Beauty and the Beast,A live-action adaptation of Disney's version o...,31.63,/tWqifoYuwLETmmasnGHO7xBjEtt.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017-03-16,1263521126,129,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,Be our guest.,Beauty and the Beast,False,6.90,12539
17,False,/mabuNsGJgRuCTuGqjFkWe1xdu19.jpg,"{'id': 468222, 'name': 'The Incredibles Collec...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://movies.disney.com/incredibles-2,260513,tt3606756,en,Incredibles 2,Elastigirl springs into action to save the day...,27.91,/9lFKBtaVIhP7E2Pk0IY1CwTKTMZ.jpg,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-06-14,1242805359,118,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Back to work.,Incredibles 2,False,7.50,8642

In [100]:
df = df.loc[:, ['title', 'id', 'revenue', 'genres', 'belongs_to_collection', 'runtime']].sort_values(by = 'revenue', ascending = False)
df
# Most successful movies by revenue (not adjusted for inflation)

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
4,Titanic,597,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",None,118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1515047671,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
13,Frozen II,330457,1450026933,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",None,134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
17,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

### Storing and saving our file for export

In [101]:
# best option for this is again json file
df.to_json('movies.json', orient = 'records')

In [102]:
with open('movies.json') as f:
    data = json.load(f)

In [104]:
pd.json_normalize(data)
# or use 'pd.read_json()'

,title,id,revenue,genres,runtime,belongs_to_collection.id,belongs_to_collection.name,belongs_to_collection.poster_path,belongs_to_collection.backdrop_path,belongs_to_collection
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",181,86311.00,The Avengers Collection,/tqXiOD5rTyHgabO73Tpw9JDbd88.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,nan
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",162,87096.00,Avatar Collection,/gC3tW9a45RGOzzSh6wv91pFnmFr.jpg,/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg,nan
2,Titanic,597,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",194,nan,NaN,NaN,NaN,nan
3,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",136,10.00,Star Wars Collection,/r8Ph5MYXL04Qzu4QBbq2KjqwtkQ.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,nan
4,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",149,86311.00,The Avengers Collection,/tqXiOD5rTyHgabO73Tpw9JDbd88.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,nan
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",124,328.00,Jurassic Park Collection,/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg,/njFixYzIxX8jsn6KMSEtAzi4avi.jpg,nan
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",118,nan,NaN,NaN,NaN,nan
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",143,86311.00,The Avengers Collection,/tqXiOD5rTyHgabO73Tpw9JDbd88.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,nan
8,Furious 7,168259,1515047671,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",137,9485.00,The Fast and the Furious Collection,/zQdytnqfsWKJlqazqfMBL2L7aql.jpg,/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg,nan
9,Frozen II,330457,1450026933,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",104,386382.00,Frozen Collection,/13Op41T3cALJedrKqYPrlc3cIbO.jpg,/6QonAoIN0jhWZZWZGJswSxHzUnU.jpg,nan
10,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141,86311.00,The Avengers Collection,/tqXiOD5rTyHgabO73Tpw9JDbd88.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,nan
11,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",134,nan,NaN,NaN,NaN,nan
12,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",130,1241.00,Harry Potter Collection,/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg,/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg,nan
13,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",152,10.00,Star Wars Collection,/r8Ph5MYXL04Qzu4QBbq2KjqwtkQ.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,nan
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",129,328.00,Jurassic Park Collection,/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg,/njFixYzIxX8jsn6KMSEtAzi4avi.jpg,nan
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",102,386382.00,Frozen Collection,/13Op41T3cALJedrKqYPrlc3cIbO.jpg,/6QonAoIN0jhWZZWZGJswSxHzUnU.jpg,nan
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",129,nan,NaN,NaN,NaN,nan
17,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",118,468222.00,The Incredibles Collection,/vWrv5Hu4TtJD1ah8XAJjZwoY86c.jpg,/9eDW2dVhnzPS2HvaRdK2OlAGaLq.jpg,nan

In [105]:
pd.json_normalize(data, 'genres', 'title')
# json format is best equipped to handle nested data(as below) while csv 
# and text files have their usage best limited to tabular data.

       id             name                                         title
0      12        Adventure                             Avengers: Endgame
1     878  Science Fiction                             Avengers: Endgame
2      28           Action                             Avengers: Endgame
3      28           Action                                        Avatar
4      12        Adventure                                        Avatar
5      14          Fantasy                                        Avatar
6     878  Science Fiction                                        Avatar
7      18            Drama                                       Titanic
8   10749          Romance                                       Titanic
9      28           Action                  Star Wars: The Force Awakens
10     12        Adventure                  Star Wars: The Force Awakens
11    878  Science Fiction                  Star Wars: The Force Awakens
12     14          Fantasy                  Star Wars: The Force Awakens
13     12        Adventure                        Avengers: Infinity War
14     28           Action                        Avengers: Infinity War
15    878  Science Fiction                        Avengers: Infinity War
16     28           Action                                Jurassic World
17     12        Adventure                                Jurassic World
18    878  Science Fiction                                Jurassic World
19     53         Thriller                                Jurassic World
20     12        Adventure                                 The Lion King
21  10751           Family                                 The Lion King
22    878  Science Fiction                                  The Avengers
23     28           Action                                  The Avengers
24     12        Adventure                                  The Avengers
25     28           Action                                     Furious 7
26     53         Thriller                                     Furious 7
27     16        Animation                                     Frozen II
28  10751           Family                                     Frozen II
29     12        Adventure                                     Frozen II
30     28           Action                       Avengers: Age of Ultron
31     12        Adventure                       Avengers: Age of Ultron
32    878  Science Fiction                       Avengers: Age of Ultron
33     28           Action                                 Black Panther
34     12        Adventure                                 Black Panther
35     14          Fantasy                                 Black Panther
36    878  Science Fiction                                 Black Panther
37     14          Fantasy  Harry Potter and the Deathly Hallows: Part 2
38     12        Adventure  Harry Potter and the Deathly Hallows: Part 2
39    878  Science Fiction                      Star Wars: The Last Jedi
40     28           Action                      Star Wars: The Last Jedi
41     12        Adventure                      Star Wars: The Last Jedi
42     28           Action                Jurassic World: Fallen Kingdom
43     12        Adventure                Jurassic World: Fallen Kingdom
44    878  Science Fiction                Jurassic World: Fallen Kingdom
45     16        Animation                                        Frozen
46     12        Adventure                                        Frozen
47  10751           Family                                        Frozen
48  10751           Family                          Beauty and the Beast
49     14          Fantasy                          Beauty and the Beast
50  10749          Romance                          Beauty and the Beast
51     28           Action                                 Incredibles 2
52     12        Adventure                                 Incredibles 2
53     16        Animation                                 Incredibles 2
54  10751           Family                                 Incredibles 2

In [108]:
data

[{'title': 'Avengers: Endgame',
  'id': 299534,
  'revenue': 2797800564,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/tqXiOD5rTyHgabO73Tpw9JDbd88.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 181},
 {'title': 'Avatar',
  'id': 19995,
  'revenue': 2787965087,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 87096,
   'name': 'Avatar Collection',
   'poster_path': '/gC3tW9a45RGOzzSh6wv91pFnmFr.jpg',
   'backdrop_path': '/8nCr9W7sKus2q9PLbYsnT7iCkuT.jpg'},
  'runtime': 162},
 {'title': 'Titanic',
  'id': 597,
  'revenue': 2187463944,
  'genres': [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}],
  'belongs_to_collection': None,
  'runtime': 194},
 {'title': 'Star Wars: The Force Awakens',
  'id': 140607,
  'revenue': 2068223624,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 14, 'name': 'Fantasy'}],
  'belongs_to_collection': {'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/r8Ph5MYXL04Qzu4QBbq2KjqwtkQ.jpg',
   'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
  'runtime': 136},
 {'title': 'Avengers: Infinity War',
  'id': 299536,
  'revenue': 2046239637,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 28, 'name': 'Action'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/tqXiOD5rTyHgabO73Tpw9JDbd88.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 149},
 {'title': 'Jurassic World',
  'id': 135397,
  'revenue': 1671713208,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'},
   {'id': 53, 'name': 'Thriller'}],
  'belongs_to_collection': {'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
   'backdrop_path': '/njFixYzIxX8jsn6KMSEtAzi4avi.jpg'},
  'runtime': 124},
 {'title': 'The Lion King',
  'id': 420818,
  'revenue': 1656943394,
  'genres': [{'id': 12, 'name': 'Adventure'}, {'id': 10751, 'name': 'Family'}],
  'belongs_to_collection': None,
  'runtime': 118},
 {'title': 'The Avengers',
  'id': 24428,
  'revenue': 1519557910,
  'genres': [{'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/tqXiOD5rTyHgabO73Tpw9JDbd88.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 143},
 {'title': 'Furious 7',
  'id': 168259,
  'revenue': 1515047671,
  'genres': [{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}],
  'belongs_to_collection': {'id': 9485,
   'name': 'The Fast and the Furious Collection',
   'poster_path': '/zQdytnqfsWKJlqazqfMBL2L7aql.jpg',
   'backdrop_path': '/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg'},
  'runtime': 137},
 {'title': 'Frozen II',
  'id': 330457,
  'revenue': 1450026933,
  'genres': [{'id': 16, 'name': 'Animation'},
   {'id': 10751, 'name': 'Family'},
   {'id': 12, 'name': 'Adventure'}],
  'belongs_to_collection': {'id': 386382,
   'name': 'Frozen Collection',
   'poster_path': '/13Op41T3cALJedrKqYPrlc3cIbO.jpg',
   'backdrop_path': '/6QonAoIN0jhWZZWZGJswSxHzUnU.jpg'},
  'runtime': 104},
 {'title': 'Avengers: Age of Ultron',
  'id': 99861,
  'revenue': 1405403694,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 86311,
   'name': 'The Avengers Collection',
   'poster_path': '/tqXiOD5rTyHgabO73Tpw9JDbd88.jpg',
   'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
  'runtime': 141},
 {'title': 'Black Panther',
  'id': 284054,
  'revenue': 1346739107,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': None,
  'runtime': 134},
 {'title': 'Harry Potter and the Deathly Hallows: Part 2',
  'id': 12445,
  'revenue': 1341511219,
  'genres': [{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'name': 'Adventure'}],
  'belongs_to_collection': {'id': 1241,
   'name': 'Harry Potter Collection',
   'poster_path': '/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg',
   'backdrop_path': '/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg'},
  'runtime': 130},
 {'title': 'Star Wars: The Last Jedi',
  'id': 181808,
  'revenue': 1332539889,
  'genres': [{'id': 878, 'name': 'Science Fiction'},
   {'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'}],
  'belongs_to_collection': {'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/r8Ph5MYXL04Qzu4QBbq2KjqwtkQ.jpg',
   'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
  'runtime': 152},
 {'title': 'Jurassic World: Fallen Kingdom',
  'id': 351286,
  'revenue': 1303459585,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 878, 'name': 'Science Fiction'}],
  'belongs_to_collection': {'id': 328,
   'name': 'Jurassic Park Collection',
   'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
   'backdrop_path': '/njFixYzIxX8jsn6KMSEtAzi4avi.jpg'},
  'runtime': 129},
 {'title': 'Frozen',
  'id': 109445,
  'revenue': 1274219009,
  'genres': [{'id': 16, 'name': 'Animation'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 10751, 'name': 'Family'}],
  'belongs_to_collection': {'id': 386382,
   'name': 'Frozen Collection',
   'poster_path': '/13Op41T3cALJedrKqYPrlc3cIbO.jpg',
   'backdrop_path': '/6QonAoIN0jhWZZWZGJswSxHzUnU.jpg'},
  'runtime': 102},
 {'title': 'Beauty and the Beast',
  'id': 321612,
  'revenue': 1263521126,
  'genres': [{'id': 10751, 'name': 'Family'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 10749, 'name': 'Romance'}],
  'belongs_to_collection': None,
  'runtime': 129},
 {'title': 'Incredibles 2',
  'id': 260513,
  'revenue': 1242805359,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 16, 'name': 'Animation'},
   {'id': 10751, 'name': 'Family'}],
  'belongs_to_collection': {'id': 468222,
   'name': 'The Incredibles Collection',
   'poster_path': '/vWrv5Hu4TtJD1ah8XAJjZwoY86c.jpg',
   'backdrop_path': '/9eDW2dVhnzPS2HvaRdK2OlAGaLq.jpg'},
  'runtime': 118}]

In [109]:
df.to_csv('movies_raw.csv', index = False)

In [110]:
pd.read_csv('movies_raw.csv')
# At first there doesn't seem much difference

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Titanic,597,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,194
3,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
4,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
5,Jurassic World,135397,1671713208,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",124
6,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",NaN,118
7,The Avengers,24428,1519557910,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
8,Furious 7,168259,1515047671,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
9,Frozen II,330457,1450026933,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...","{'id': 386382, 'name': 'Frozen Collection', 'p...",104
10,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
11,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,134
12,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
13,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
14,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
15,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
16,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",NaN,129
17,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [112]:
# but on closer inspection
type(df.genres[0])
# In older versions it used to show string instead

list